/*
This is the css file for dress4weather.
*/

h1 {
	margin: auto;
}

.clothes{
	background-color: cyan;
}

.clothes {
	height: 200px;
	width: 200px;
}

#selection {
	margin-left: 50px;
	width: 200px;
}
